<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        // 是否开启刷新记忆tab功能
        var is_remember = false;
    </script>
</head>
<body class="index">
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a th:href="@{/user-serv/user/index}" th:text="${thisUser.type==0?'管理员':'用户'}"></a></div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">[[${thisUser.name}]]</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a onclick="xadmin.open('个人信息','/user-serv/user/update/info')">个人信息</a></dd>
                <dd>
                    <a onclick="xadmin.open('修改密码','/user-serv/user/update/psw')">修改密码</a></dd>
                <dd>
                    <a th:href="@{/user-serv/user/logout}">退出</a></dd>
            </dl>
        </li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <!-- 管理员功能开始 -->
            <!-- 竞赛管理 -->
            <li th:if="${thisUser.type eq 0}">
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="竞赛管理">&#xe723;</i>
                    <cite>竞赛管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('发布竞赛','/competition-serv/admin/competition/post/info')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>发布竞赛</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('竞赛信息管理','/competition-serv/admin/competition/list')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>竞赛信息管理</cite></a>
                    </li>
                </ul>
            </li>
            <!-- 用户管理 -->
            <li th:if="${thisUser.type eq 0}">
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="用户管理">&#xe6b8;</i>
                    <cite>用户管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('创建新用户','/user-serv/admin/user/add')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>创建新用户</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('用户信息管理','/user-serv/admin/user/list')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户信息管理</cite></a>
                    </li>
                </ul>
            </li>
            <!-- 团队管理 -->
            <li th:if="${thisUser.type eq 0}">
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="团队管理">&#xe82a;</i>
                    <cite>团队管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('团队信息管理','/team-serv/admin/team/list')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>团队信息管理</cite></a>
                    </li>
                </ul>
            </li>
            <!-- 获奖管理 -->
            <li th:if="${thisUser.type eq 0}">
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="获奖管理">&#xe6e4;</i>
                    <cite>获奖管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('获奖信息录入','/team-serv/admin/team/award/entry/list')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>获奖信息录入</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('获奖信息查询','/team-serv/admin/team/award/info/list')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>获奖信息查询</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('参赛信息统计','/team-serv/admin/team/count/participate')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>参赛信息统计</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('获奖信息统计','/team-serv/admin/team/count/win')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>获奖信息统计</cite></a>
                    </li>
                </ul>
            </li>
            <!-- 管理员功能结束 -->
            <!-- 教师功能开始 -->
            <!-- 竞赛信息 -->
            <li th:if="${thisUser.type eq 1}">
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="竞赛信息">&#xe6a4;</i>
                    <cite>竞赛信息</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('竞赛信息','/competition-serv/competition/inform')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>竞赛信息</cite></a>
                    </li>
                </ul>
            </li>
            <!-- 我的指导 -->
            <li th:if="${thisUser.type eq 1}">
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="我的指导">&#xe726;</i>
                    <cite>我的指导</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('指导请求','/select-serv/teacher/select/request/list')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>指导请求</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('指导团队','/select-serv/teacher/select/agree/list')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>指导团队</cite></a>
                    </li>
                </ul>
            </li>
            <!-- 获奖信息 -->
            <li th:if="${thisUser.type eq 1}">
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="获奖信息">&#xe6e4;</i>
                    <cite>获奖信息</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('获奖信息查询','/team-serv/admin/team/award/info/list')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>获奖信息查询</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('参赛信息统计','/team-serv/admin/team/count/participate')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>参赛信息统计</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('获奖信息统计','/team-serv/admin/team/count/win')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>获奖信息统计</cite></a>
                    </li>
                </ul>
            </li>
            <!-- 通知栏 -->
            <li th:if="${thisUser.type eq 1}">
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="通知栏">&#xe72d;</i>
                    <cite>通知栏</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('收件箱','/user-serv/message/received')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>收件箱</cite>
                            <label style="color: red" th:text="'有'+${notRead}+'条未读消息'" th:if="${notRead != 0}"></label>
                        </a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('已发送','/user-serv/message/sent')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>已发送</cite></a>
                    </li>
                </ul>
            </li>
            <!-- 教师功能结束 -->
            <!-- 学生功能开始 -->
            <!-- 竞赛信息 -->
            <li th:if="${thisUser.type eq 2}">
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="竞赛信息">&#xe6a4;</i>
                    <cite>竞赛信息</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('竞赛信息','/competition-serv/competition/inform')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>竞赛信息</cite></a>
                    </li>
                </ul>
            </li>
            <!-- 我的团队 -->
            <li th:if="${thisUser.type eq 2}">
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="我的团队">&#xe82a;</i>
                    <cite>我的团队</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('我加入的团队','/team-serv/team/joined/list')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>我加入的团队</cite></a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('我负责的团队','/team-serv/team/lead/list')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>我负责的团队</cite></a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('组队请求处理','/select-serv/student/request/list')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>组队请求处理</cite></a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('我发出的组队请求','/select-serv/student/my/request')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>我发出的组队请求</cite></a>
                    </li>
                </ul>
            </li>
            <!-- 通知栏 -->
            <li th:if="${thisUser.type eq 2}">
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="通知栏">&#xe72d;</i>
                    <cite>通知栏</cite>
                    <label style="color: red" th:text="${notRead}" th:if="${notRead != 0}"></label>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('收件箱','/user-serv/message/received')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>收件箱</cite>
                            <label style="color: red" th:text="'有'+${notRead}+'条未读消息'" th:if="${notRead != 0}"></label>
                        </a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('已发送','/user-serv/message/sent')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>已发送</cite></a>
                    </li>
                </ul>
            </li>
            <!-- 学生功能结束 -->
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home">
                <i class="layui-icon">&#xe68e;</i>主页</li></ul>
        <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
            <dl>
                <dd data-type="this">关闭当前</dd>
                <dd data-type="other">关闭其它</dd>
                <dd data-type="all">关闭全部</dd></dl>
        </div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe th:src="@{/user-serv/home}" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
        <div id="tab_show"></div>
    </div>
</div>
<div class="page-content-bg"></div>
<style id="theme_style"></style>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
</body>

</html>