<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>指导请求</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table id="request" class="layui-table layui-form" >
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/lib/layui/layui.js}"></script>
<script type="text/html" id="barDemo">
</script>
<script th:inline=none>
    layui.use(['table','jquery'],
        function() {
            var table = layui.table;
            var $ = layui.$;

            var tableIns=table.render({
                elem: '#request'
                ,height: 600
                ,page:false
                ,url: '/select-serv/teacher/select/request' //数据接口
                ,cols: [[ //表头
                    {field: 'id', title: 'ID', align:'center', width:'5%'},
                    {field: 'teamName', title: '团队名称', align:'center', width:'20%', templet:tTeam},
                    {field: 'cpName', title: '竞赛名称', align:'center', width:'40%', templet:tCpName},
                    {field: 'leaderName', title: '负责人', align:'center', width:'10%', templet:tLeaderName},
                    {title: '状态', width:'10%', align:'center',
                        templet: function (data) {
                            if(data.flag == 1) {
                                return "已被其他老师选择";
                            }
                            else if(data.flag == 0) {
                                if (data.status == 0) {
                                    return "待处理";
                                }
                                else if (data.status == 1) {
                                    return "已拒绝";
                                }
                                else if (data.status == 2) {
                                    return "已同意";
                                }
                            }
                        }
                    },
                    {title: '操作',width:'12%', align:'center',
                        templet: function (data) {
                            if(data.flag == 1) {
                                return '<div id="choice">\n' +
                                    '        <a id="agree" class="layui-btn layui-btn-disabled layui-btn-xs">同意</a>\n' +
                                    '        <a id="reject" class="layui-btn layui-btn-disabled layui-btn-xs">拒绝</a>\n' +
                                    '    </div>';
                            }
                            else if(data.flag == 0) {
                                if (data.status == 0) {
                                    return '<div id="choice">\n' +
                                        '        <a id="agree" class="layui-btn layui-btn-xs" lay-event="agree" >同意</a>\n' +
                                        '        <a id="reject" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="reject" >拒绝</a>\n' +
                                        '    </div>';
                                } else {
                                    return ' <a id="cancel" class="layui-btn layui-btn-warm layui-btn-xs" lay-event="cancel" >取消</a>';
                                }
                            }
                        }
                    }
                ]]
            });
            function tTeam(d) {
                var html = '<a style="text-decoration: underline;color: #1E9FFF" lay-event="team" >'+d.teamName+'</a>';
                return html;
            }
            function tCpName(d) {
                var html = '<a style="text-decoration: underline;color: #1E9FFF" lay-event="cp" >'+d.cpName+'</a>';
                return html;
            }
            function tLeaderName(d) {
                var html = '<a style="text-decoration: underline;color: #1E9FFF" lay-event="leader" >'+d.leaderName+'</a>';
                return html;
            }
            table.on('tool', function(obj){
                var data = obj.data;
                var status = data.status;
                if (obj.event === 'team') {
                    layer.open({
                        type: 2,
                        title: data.teamName,
                        area: ['100%', '100%'],
                        shade:0.1,
                        shadeClose:true,    //点击弹层外区域关闭
                        content: '/team-serv/team/detail/'+data.teamId
                    });
                }
                if (obj.event === 'cp') {
                    layer.open({
                        type: 2,
                        title: data.cpName,
                        area: ['100%','100%'],
                        shade:0.1,
                        shadeClose:true,    //点击弹层外区域关闭
                        content: '/competition-serv/competition/detail/'+data.cpId
                    });
                }
                if (obj.event === 'leader') {
                    layer.open({
                        type: 2,
                        title: '团队负责人详情',
                        area: ['450px','350px'],
                        shade:0.1,
                        shadeClose:true,    //点击弹层外区域关闭
                        content: '/user-serv/user/showHome?id='+data.leaderId
                    });
                }
                if(obj.event === 'agree') {
                    status = 2;
                }
                else if(obj.event === 'reject') {
                    status = 1;
                }
                else if(obj.event === 'cancel') {
                    status = 0;
                }
                tableIns.reload({
                    url:'/select-serv/teacher/select/request/choice?id='+ data.id + '&status='+status
                });
            });
        });
</script>
</html>
</body>
</html>