<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>竞赛信息详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div>
                    <div style="margin-right:10px;float:right;" th:if="${detail.userType !=0}">
                        参赛方式：
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-radius"
                                th:if="${detail.userType == 1}">
                            <a th:href="@{/team-serv/team/build/}+${detail.id}" th:text="'创建团队'"></a>
                        </button>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-radius"
                                th:if="${detail.userType == 1}">
                            <a th:href="@{/select-serv/student/join/}+${detail.id}" th:text="'加入团队'"></a>
                        </button>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-radius"
                                th:if="${detail.userType == 2}">
                            <a th:onclick="|parent.xadmin.add_tab('已有团队',[['/select-serv/student/lead/'+${detail.id}]],true)|"
                               href="javascript:;" th:text="'您已报名并创建团队'">
                            </a>
                        </button>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-radius"
                                th:if="${detail.userType == 3}">
                            <a th:onclick="|parent.xadmin.add_tab('我发送的组队请求','/select-serv/student/my/request',true)|"
                               href="javascript:;" th:text="'您已报名并组队，点击查看详情 >>'">
                            </a>
                        </button>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <div class="layui-card-body" style="text-align:center;margin: 5px;">
                    <ul style="text-align:center;">
                        <h1 style="margin: 30px 0px;">[[${detail.title}]]</h1>
                    </ul>
                    <ul style="text-align:center;" th:if='${detail.picture != ""}'>
                        <img style="height: 400px;width: 100%;" th:src="@{${detail.picture}}" />
                    </ul>
                    <ul style="text-align:left;">
                        <h3 style="margin: 30px 0px;">
                            <li style="list-style-position: inside;list-style-type: disc;"
                                th:text="'报名起止时间：'+${#dates.format(detail.applyStart,'yyyy-MM-dd')}+
                            '————'+${#dates.format(detail.applyEnd,'yyyy-MM-dd')}">
                            </li>
                        </h3>
                    </ul>
                    <ul style="text-align:left;">
                        <h3 style="margin: 30px 0px;">
                            <li style="list-style-position: inside;list-style-type: disc;"
                                th:text="'竞赛起止时间：'+${#dates.format(detail.start,'yyyy-MM-dd')}+
                            '————'+${#dates.format(detail.end,'yyyy-MM-dd')}">
                            </li>
                        </h3>
                    </ul>
                    <hr>
                    <ul style="text-align: left;">
                        <h3 style="margin: 30px 0px;">
                            <li style="list-style-position: inside;list-style-type: disc;">
                                <strong>赛事背景</strong>
                            </li>
                        </h3>
                    </ul>
                    <ul style="text-align:center; text-indent:2em;">
                        <pre style="text-align:left;">
                            [[${detail.content}]]
                        </pre>
                    </ul>
                    <hr>
                    <ul style="text-align: left;">
                        <h3 style="margin: 30px 0px;">
                            <li style="list-style-position: inside;list-style-type: disc;">
                                <strong>举办方</strong>
                            </li>
                        </h3>
                    </ul>
                    <ul style="text-align:left;margin-left: 40px;">
                        <li>
                            <pre>[[${detail.organizer}]]</pre>
                        </li>
                    </ul>
                    <hr>
                    <ul style="text-align:right;margin-right: 300px;" th:if='${detail.supplement != null}'>
                        附件：<a th:text="${detail.supplement}" th:href="@{/competition-serv/competition/download/}+${detail.id}"/>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/lib/layui/layui.js}"></script>
</html>