<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div style="text-align:left;">
                        <div style="padding-bottom: 10px;font-size: 17px">
                            <span th:text="${userDto.type==1?'工号：':'学号：'}"></span>
                            <span style="margin-left: 25px"> [[${userDto.number}]] </span>
                        </div>
                        <div style="padding-bottom: 10px;font-size: 17px">
                            <span >姓名：</span>
                            <span style="margin-left: 25px"> [[${userDto.name}]] </span>
                        </div>
                        <div style="padding-bottom: 10px;font-size: 17px">
                            <span >手机号：</span>
                            <span style="margin-left: 10px"> [[${userDto.mobile}]] </span>
                        </div>
                        <div style="padding-bottom: 10px;font-size: 17px">
                            <span >邮箱：</span>
                            <span style="margin-left: 25px"> [[${userDto.email}]] </span>
                        </div>
                        <div style="padding-bottom: 10px;font-size: 17px">
                            <div style="padding-bottom: 5px">个人介绍：</div>
                            <div> [[${userDto.intro}]] </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/lib/layui/layui.js}"></script>
</html>