<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>获奖信息录入</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <table id="myTable" class="layui-table" lay-filter="test"></table>
                    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                    <div id="main" style="width: 100%;height:400px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js}"></script>
<script th:src="@{https://cdn.bootcss.com/echarts/4.2.1-rc1/extension/bmap.min.js}"></script>
</body>
<script type="text/javascript" th:src="@{/lib/layui/layui.js}"></script>
<!--<script type="text/javascript" th:src="@{/lib/echarts/echarts.js}"></script>-->
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));
    layui.use(['table','jquery'], function () {
        var table = layui.table;
        var $ = layui.$;

        table.render({
            elem: '#myTable'
            ,height: 150
            ,page: false
            ,url: '/team-serv/admin/team/count/win2' //数据接口
            ,cols:
                [
                    [ //表头
                        {field: 'academyId', title: ' 学院ID', align:'center', width:'10%'},
                        {field: 'academy', title: '学院名称', align:'center', width:'15%'},
                        {field: 'count', title: '获奖团队总数量', align:'center', width:'10%'}
                    ]
                ]
            ,done: function (res, curr, count) {
                // console.log(res);
                // console.log(curr);
                // console.log(count);
                var countData = [];
                for (var i=0; i<res.data.length; i++) {
                    var item = {};
                    item.value = res.data[i].count;
                    item.name = res.data[i].academy;
                    countData.push(item);
                }
                myChart.setOption(
                    {
                        backgroundColor: '#2c343c',

                        title: {
                            text: '各学院获奖情况统计',
                            left: 'center',
                            top: 20,
                            textStyle: {
                                color: '#ccc'
                            }
                        },
                        tooltip: {
                            trigger: 'item'
                        },
                        visualMap: {
                            show: false,
                            min: 1,
                            max: 10,
                            inRange: {
                                colorLightness: [0.6,0]
                            }
                        },
                        series : [
                            {
                                name:'获奖团队数',
                                type:'pie',
                                radius : '55%',
                                center: ['50%', '50%'],
                                // data:[
                                //     {value:335, name:'信息学院'},
                                //     {value:310, name:'生化学院'},
                                //     {value:274, name:'经管学院'},
                                //     {value:235, name:'机械学院'},
                                //     {value:400, name:'人文学院'}
                                // ].sort(function (a, b) { return a.value - b.value}),
                                data: countData.sort(function (a, b) { return a.value - b.value}),
                                roseType: 'angle',
                                label: {
                                    color: '#ccc'
                                },
                                labelLine: {
                                    lineStyle: {
                                        color: 'rgba(255, 255, 255, 0.5)'
                                    },
                                    smooth: 0.2,
                                    length: 10,
                                    length2: 20
                                },
                                itemStyle: {
                                    color: '#c23531',
                                    shadowBlur: 200,
                                    shadowColor: 'rgba(0, 0, 150, 0.5)'
                                }
                            }
                        ]
                    }
                )
            }
        });
        // 使用刚指定的配置项和数据显示图表。
        // myChart.setOption(option);
    });
</script>
</html>